<launch>
  <arg name="gui" default="false"/>
  <arg name="machine" default="localhost" />
  <arg name="use_sim" default="false"/>
  <arg name="publish_tf" default="true" />
  <arg name="manager" default="attention_manager" />
  <arg unless="$(arg use_sim)" name="RGB_CAMERA_INFO" value="/kinect_head/rgb/camera_info"/>
  <arg if="$(arg use_sim)" name="RGB_CAMERA_INFO" value="/head_mount_kinect/rgb/camera_info"/>
  <arg name="points" value="/kinect_head/depth_registered/quater/points" />
  <!--arg name="points" value="/robot_self_filtered_points" /--><!--This should be used when self filter topic exist /-->
  <!--arg name="RGB_CAMERA_INFO" value="/head_mount_kinect/rgb/camera_info"/-->

  <machine name="localhost" address="localhost" />
  
  <arg unless="$(arg use_sim)" name="DEPTH_CAMERA_INFO" value="/kinect_head/depth/camera_info"/>
  <arg if="$(arg use_sim)" name="DEPTH_CAMERA_INFO" value="/head_mount_kinect/depth/camera_info"/>
  
  <arg unless="$(arg use_sim)" name="DEPTH_TOPIC" value="/kinect_head/depth_registered/image_rect"/>
  <arg if="$(arg use_sim)" name="DEPTH_TOPIC" value="/head_mount_kinect/depth/image_raw"/>

  <arg unless="$(arg use_sim)" name="RGB_IMAGE" value="/kinect_head_remote/rgb/image_rect_color"/>
  <arg if="$(arg use_sim)" name="RGB_IMAGE" value="/head_mount_kinect/rgb/image_raw"/>

  <node name="attention_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>
  
  <!--Duplicate when using real pr2 and it is heavy so that I won't use with sim but save with real pr2/-->
  <node name="self_filter"
        pkg="robot_self_filter" type="self_filter"
        clear_params="true" respawn="true">
    <remap from="robot_description" to="/robot_description" />
    <remap from="cloud_in" to="/kinect_head/depth_registered/quater/points" />
    <remap from="cloud_out" to="robot_self_filtered_points" />
    <rosparam>
      use_rgb: true
      keep_organized: true
      subsample_value: 0.0
    </rosparam>
    <rosparam command="load"
              file="$(find jsk_2020_4_carry_dish)/config/self_filter.yaml" />
  </node>

  <node name="dish_attention_clipper"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/AttentionClipper $(arg manager)">
        <remap from="~input" to="/kinect_head/rgb/camera_info" />
        <!--remap from="~input/points" to="/plane_extraction_ssd/output" /-->
        <remap from="~input/points" to="$(arg points)" />
        <!--remap from="~input/box" to="/segmentation_decomposer_ssd/boxes/boxes[0]" /-->
        <!--remap from="~input/box_array" to="/segmentation_decomposer_ssd/boxes" /-->
    <rosparam>
      initial_pos: [0, 0.0, 0.8]
      initial_rot: [-0.65, 0, 0]
      dimension_x: 0.7
      dimension_y: 0.5
      dimension_z: 0.5
      frame_id: head_mount_kinect_rgb_optical_frame
    </rosparam>
  </node>

  <node name="extract_indices_attention"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="/$(arg points)" />
    <remap from="~indices" to="dish_attention_clipper/output/point_indices" />
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>

  <include file="$(find wash_dish)/launch/virtual_camera_mono.launch" >
      <arg name="RGB_IMAGE" value="$(arg RGB_IMAGE)" />
      <arg name="RGB_CAMERA_INFO" value="$(arg RGB_CAMERA_INFO)" />
      <arg name="CLOUD" value="/$(arg points)" />
  </include>

  <include file="$(find wash_dish)/launch/heightmap_morphological_filtering.launch">
      <arg name="gui" value="true"/>
      <arg name="use_sim" default="$(arg use_sim)"/>
  </include>

  <node name="hough_converter" pkg="wash_dish" type="cv_houghcircle" output="screen" />

  <node name="heightmap_to_pointcloud"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/HeightmapToPointCloud $(arg manager)">
    <remap from="~input" to="heightmap_converter/output"/>
    <remap from="~input/config" to="heightmap_converter/output/config"/>
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>

 <node name="rects_to_cpi_hough"
        pkg="jsk_recognition_utils" type="rect_array_to_cluster_point_indices.py"
        output="screen" >
    <remap from="~input" to="/hough_circle_rect"/>
    <!--remap from="~input/info" to="$(arg RGB_CAMERA_INFO)"/-->
    <rosparam>
      approximate_sync: true
      use_info: false
      img_width: 128
      img_height: 128
    </rosparam>
  </node>

  <node name="throttle_segmentation_hough" pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/LightweightThrottle $(arg manager)"
        output="screen"
        machine="$(arg machine)">
    <remap from="~input" to="rects_to_cpi_hough/output" />
    <remap from="~output" to="rects_to_cpi_hough/output_throttle" />
  </node>
  <node name="tf_transform_cloud"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/TfTransformCloud $(arg manager)">
        <remap from="~input" to="/heightmap_to_pointcloud/output"/>
    <remap from="~output" to="/hough_pointcloud"/>
    <rosparam>
      target_frame_id: heightmap_center
      duration: 100
      tf_queue_size: 100
    </rosparam>
  </node>
  
  <node name="segmentation_decomposer_hough" pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)"
        output="screen" 
        machine="$(arg machine)">
        <!--remap from="~input" to="/plane_extraction_ssd/output" /-->
        <remap from="~input" to="/hough_pointcloud" />
        <remap from="~target" to="/rects_to_cpi_hough/output_throttle" />
        <!--remap from="~align_planes" to="/multi_plane_estimate_ssd/output_refined_polygon" /-->
        <!--remap from="~align_planes_coefficients"
           to="/multi_plane_estimate_ssd/output_refined_coefficients" /-->
    <rosparam subst_value="true">
      approximate_sync: true  
      align_boxes: false
      align_boxes_with_plane: false
      queue_size: 100000
      publish_clouds: false
      publish_tf: $(arg publish_tf)
      sort_by: -cloud_size 
      min_size: 100
      max_size: 100000
      use_pca: false

    </rosparam>
  </node>

  <!-- interactive -->
  <node name="bounding_box_marker_hough" pkg="jsk_interactive_marker" type="bounding_box_marker"
        output="screen"
        machine="$(arg machine)">
    <remap from="~bounding_box_array" to="segmentation_decomposer_hough/boxes" />
  </node>
  <node name="selected_cloud_hough" pkg="nodelet" type="nodelet"
        args="load jsk_pcl/SelectedClusterPublisher $(arg manager)"
        output="screen"
        machine="$(arg machine)">
    <remap from="~input" to="/plane_extraction_hough/output" />
    <remap from="~indices" to="/rects_to_cpi_hough/output" />
    <remap from="~selected_index" to="/bounding_box_marker_hough/selected_index" />
    <remap from="~output" to="/selected_pointcloud" />
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="normal_concatenater"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/NormalConcatenater manager">
          <remap from="~input" to="/depth_image_creator/output_cloud"/>
      <remap from="~normal" to="organized_edge_detector/output_normal"/>
    </node>

    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_4_carry_dish)/config/organized_edge_detector.rviz"/>
  </group>
</launch>
