<launch>
  <arg name="gui" default="false"/>
  <arg name="machine" default="localhost" />
  <arg name="use_sim" default="false"/>
  <arg name="publish_tf" default="true" />
  <arg name="manager" default="attention_manager" />
  <arg unless="$(arg use_sim)" name="RGB_CAMERA_INFO" value="/kinect_head/rgb/camera_info"/>
  <arg if="$(arg use_sim)" name="RGB_CAMERA_INFO" value="/head_mount_kinect/rgb/camera_info"/>
  <!--arg name="RGB_CAMERA_INFO" value="/head_mount_kinect/rgb/camera_info"/-->

  <machine name="localhost" address="localhost" />
  
  <arg unless="$(arg use_sim)" name="DEPTH_CAMERA_INFO" value="/kinect_head/depth/camera_info"/>
  <arg if="$(arg use_sim)" name="DEPTH_CAMERA_INFO" value="/head_mount_kinect/depth/camera_info"/>
  
  <arg unless="$(arg use_sim)" name="DEPTH_TOPIC" value="/kinect_head/depth_registered/image_rect"/>
  <arg if="$(arg use_sim)" name="DEPTH_TOPIC" value="/head_mount_kinect/depth/image_raw"/>

  <arg unless="$(arg use_sim)" name="RGB_IMAGE" value="/kinect_head_remote/rgb/image_rect_color"/>
  <arg if="$(arg use_sim)" name="RGB_IMAGE" value="/head_mount_kinect/rgb/image_raw"/>

  <node name="attention_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>
  
  <node name="dish_attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
        <remap from="~input" to="/kinect_head/rgb/camera_info" />
        <remap from="~input/points" to="/plane_extraction_ssd/output" />
        <!--remap from="~input/points" to="/extract_indices/output" /-->
        <!--remap from="~input/box" to="/segmentation_decomposer_ssd/boxes/boxes[0]" /-->
        <remap from="~input/box_array" to="/segmentation_decomposer_ssd/boxes" />
  </node>

  <include file="$(find wash_dish)/launch/virtual_camera_mono.launch" >
      <arg name="RGB_IMAGE" value="$(arg RGB_IMAGE)" />
      <arg name="RGB_CAMERA_INFO" value="$(arg RGB_CAMERA_INFO)" />
      <arg name="CLOUD" value="/robot_self_filtered_points" />
  </include>

  <include file="$(find wash_dish)/launch/heightmap_morphological_filtering.launch">
      <arg name="gui" value="true"/>
      <arg name="use_sim" default="$(arg use_sim)"/>
  </include>

  <node name="hough_converter" pkg="wash_dish" type="cv_hough" />

  <node name="rects_to_cpi_hough"
        pkg="jsk_recognition_utils" type="rect_array_to_cluster_point_indices.py"
        output="screen" >
    <remap from="~input" to="/hough_rect"/>
    <!--remap from="~input/info" to="$(arg RGB_CAMERA_INFO)"/-->
    <rosparam>
      approximate_sync: true
      use_info: false
      img_width: 640
      img_height: 480
    </rosparam>
  </node>

  <node name="throttle_segmentation_hough" pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/LightweightThrottle $(arg manager)"
        output="screen"
        machine="$(arg machine)">
    <remap from="~input" to="rects_to_cpi_hough/output" />
    <remap from="~output" to="rects_to_cpi_hough/output_throttle" />
  </node>
  <node name="tf_transform_cloud"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl_utils/TfTransformCloud">
    <remap from="~input" to="/plane_extraction_ssd/output"/>
    <remap from="~output" to="/hough_pointcloud"/>
    <rosparam>
      target_frame_id: heightmap_center
      duration: 100
      tf_queue_size: 100
    </rosparam>
  </node>
  
  <node name="segmentation_decomposer_hough" pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)"
        output="screen" 
        machine="$(arg machine)">
        <!--remap from="~input" to="/plane_extraction_ssd/output" /-->
        <remap from="~input" to="/hough_pointcloud" />
        <remap from="~target" to="/rects_to_cpi_hough/output" />
        <!--remap from="~align_planes" to="/multi_plane_estimate_ssd/output_refined_polygon" /-->
        <!--remap from="~align_planes_coefficients"
           to="/multi_plane_estimate_ssd/output_refined_coefficients" /-->
    <rosparam subst_value="true">
      approximate_sync: true  
      align_boxes: false
      align_boxes_with_plane: false
      target_frame_id: base_footprint
      queue_size: 100000
      publish_clouds: false
      publish_tf: $(arg publish_tf)
      sort_by: -cloud_size 
      min_size: 100
      max_size: 1000000000
      use_pca: true
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="normal_concatenater"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/NormalConcatenater manager">
          <remap from="~input" to="/depth_image_creator/output_cloud"/>
      <remap from="~normal" to="organized_edge_detector/output_normal"/>
    </node>

    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_4_carry_dish)/config/organized_edge_detector.rviz"/>
  </group>
</launch>
