<launch>
  <!-- c.f. https://jsk-common.readthedocs.io/en/latest/jsk_data/node_scripts/data_collection_server.html , https://github.com/start-jsk/jsk_apc/blob/master/demos/selective_dualarm_stowing/launch/bimanual_stow_data_collection.launch#L130-L202 -->
  <arg name="collect_data" default="true" />
  <node name="seq_data_collection"
        pkg="jsk_data" type="data_collection_server.py"
        output="screen" if="$(arg collect_data)">
    <rosparam subst_value="true">
      message_filters: true
      approximate_sync: true
      queue_size: 10000000
      slop: 0.1
      method: timer
      save_dir: ~/Data/seq_data
      topics:
        - name: /kinect_head_remote/rgb/image_rect_color
          msg_class: sensor_msgs/Image
          fname: kenect_head_remote_rgb_image_rect_color.png
          savetype: ColorImage
        - name: /kinect_head_remote/depth_registered/image_rect
          msg_class: sensor_msgs/Image
          fname: kinect_head_remote_depth_registered_image_rect.pkl
          savetype: DepthImage
        - name: /right_endeffector/wrench
          msg_class: geometry_msgs/WrenchStamped
          fname: r_force.yaml
          savetype: YAML
        - name: /left_endeffector/wrench
          msg_class: geometry_msgs/WrenchStamped
          fname: l_force.yaml
          savetype: YAML
       <!--  
        - name: /grasp_point
          msg_class: geometry_msgs/PoseStamped
          fname: grasp_point.yaml
          savetype: YAML
        - name: /segmentation_decomposer_ssd/boxes
          msg_class: jsk_recognition_msgs/BoundingBoxArray
          fname: bboxes.yaml
          savetype: YAML
        - name: /segmentation_decomposer_ssd/centroid_pose_array
          msg_class: geometry_msgs/PoseArray
          fname: centroid_pose_array.yaml
          savetype: YAML
        - name: /pr2_pose
          msg_class: geometry_msgs/PoseStamped
          fname: pr2_pose.yaml
          savetype: YAML
        - name: /grasp_state
        - name: /target_state
        - name: /r_contact
          msg_class: std_msgs/Bool
          fname: r_contact.yaml
          savetype: YAML
        -->
    </rosparam>
   </node>
</launch>
