<launch>
  <arg name="run_rviz" default="false" />
  <arg name="publish_objects_tf" default="true" />
  <arg name="manager" default="pr2_tabletop_object_detector_nodelet_manager"/>
  <arg name="machine" default="localhost" />
  <arg name="load_machine" default="false" />

  <arg name="RGB_CAMERA_INFO" value="/kinect_head/rgb/camera_info" />
  <arg name="RGB_IMAGE" value="/kinect_head/rgb/image_rect_color" />
  <arg name="RGB_IMAGE_REMOTE" value="/kinect_head_remote/rgb/image_rect_color" />
  <arg name="DEPTH_CAMERA_INFO" value="/kinect_head/depth_registered/camera_info" />
  <arg name="DEPTH_IMAGE" value="/kinect_head/depth_registered/image_rect" />
  <arg name="DEPTH_IMAGE_REMOTE" value="/kinect_head_remote/depth_registered/image_rect" />
  <!--arg name="PROSILICA_CAMERA_INFO" value="/prosilica/camera_info" /-->
  <!--arg name="PROSILICA_IMAGE" value="/prosilica/image_rect" /--> 
  <arg name="POINT_CLOUD_REMOTE" value="/kinect_head_remote/depth_registered/points" />

  <include file="$(find wash_dish)/launch/attention_dish.launch">
    <arg name="machine" value="$(arg machine)" />
  </include>

  <!--node name="prosilica_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg PROSILICA_IMAGE) out:=$(arg PROSILICA_IMAGE)" /-->
  <node name="rgb_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg RGB_IMAGE) out:=$(arg RGB_IMAGE_REMOTE)" />
  <node name="depth_decompress" pkg="image_transport" type="republish"
        args="compressedDepth in:=$(arg DEPTH_IMAGE) out:=$(arg DEPTH_IMAGE_REMOTE)" />
  <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)" output="screen" >
    <remap from="rgb/camera_info" to="$(arg RGB_CAMERA_INFO)" />
    <remap from="rgb/image_rect_color" to="$(arg RGB_IMAGE_REMOTE)" />
    <remap from="depth_registered/image_rect" to="$(arg DEPTH_IMAGE_REMOTE)" />
    <remap from="depth_registered/points" to="$(arg POINT_CLOUD_REMOTE)" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>

  <node if="$(arg run_rviz)"
        pkg="rviz" name="pr2_rviz" type="rviz"
        args="-d $(find jsk_2020_4_carry_dish)/config/realpr2_tabletop.rviz" />
</launch>
