<launch>
  <!--TODO: edit camera topic and camera frame  -->
  <arg name="gui" default="false"/>
  <arg name="RGB_IMAGE" default="/kinect_head/rgb/image_raw"/>
  <arg name="RGB_CAMERA_INFO" default="/kinect_head/rgb/camera_info"/>
  <arg name="CLOUD" default="/kinect_head_remote/depth_registered/points" />
  
  <!--node name="static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.0 0.0 2.0 0.0, 0.785, 1.571 /camera_rgb_optical_frame /dummy_frame 10"/-->
  <!--
  <node name="virtual_camera_mono"
        pkg="jsk_perception" type="virtual_camera_mono">
        <remap from="image" to="$(arg RGB_IMAGE)"/>
        <remap from="camera_info" to="$(arg RGB_CAMERA_INFO)"/>
        <rosparam>
            frame_id: segmentation_decomposeroutput00
            child_frame_id: virtual_camera_frame
            initial_pos: [0.0, -0.8, -1.08]
            initial_rot: [-0.2, 0.0, 0.0, 1.0]
        </rosparam>
  </node>
  -->

  <node name="virtual_camera_info_publisher"
        pkg="jsk_2020_4_carry_dish" type="virtual_camera_info_publisher.py" >
    <remap from="~input" to="$(arg CLOUD)" />
    <rosparam>
      frame_id: virtual_camera_optical_frame
      duration: 0.1
    </rosparam>
  </node>

  <node name="virtual_camera_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.0 0.0 0.5 1.0 0.0 0.0 0.0 /segmentation_decomposer_ssdoutput00 /virtual_camera_optical_frame 30"/>


  <node name="extracted_depth_image_creator" pkg="nodelet" type="nodelet" args="standalone jsk_pcl/DepthImageCreator">
    <remap from="~input" to="$(arg CLOUD)" />
    <remap from="~info" to="/virtual_camera_info_publisher/output/camera_info" />
    <rosparam>
      use_approximate: true
      use_asynchronous: false
      max_queue_size: 1000
      max_pub_queue_size: 100
      max_sub_queue_size: 100
      tf_duration: 50.0
    </rosparam>
  </node>

  <group ns="/kinect_head">
    <node name="pointcloud_xyzrgb_to_xyz" pkg="nodelet" type="nodelet" args="standalone jsk_pcl_utils/PointCloudXYZRGBToXYZ">
      <remap from="~input" to="$(arg CLOUD)" />
    </node>
    <node name="extracted_depth_image_creator" pkg="nodelet" type="nodelet" args="standalone jsk_pcl/DepthImageCreator">
      <remap from="~input" to="pointcloud_xyzrgb_to_xyz/output" />
      <remap from="~info" to="/virtual_camera_info_publisher/output/camera_info" />
      <rosparam>
        use_approximate: true
        use_asynchronous: false
        max_queue_size: 1000
        max_pub_queue_size: 100
        max_sub_queue_size: 100
        tf_duration: 10.0
      </rosparam>
    </node>
  </group>

  <group if="$(arg gui)">
      <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_4_carry_dish)/config/virtual_camera_mono.rviz"/>
  </group>
</launch>
